body {
  font-family: "Montserrat";
  text-align: center;
}

h2, h3{
  font-weight: 700;
}

p {
  font-weight: 500;
  color: #8f8f8f;
  font-size: 1.2rem;
}

a {
  margin-bottom: 50px;
}

.container-fluid {
  padding: 3% 15%;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #FFFFFF;
}

.white-section{
background-color: #fff;
}

/* Headings */

.big-heading{
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 25px;
}

.section-heading{
  font-size: 4rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Button */
.download-button {
  margin: 2% 3% 5% 0;
}

/* Title Section */

#title {
  padding-bottom: 50px;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 60%;
  margin-left: 20%;
  transform: rotate(25deg);
  position: absolute;
}

/* features section */
#features {
  padding: 7% 15%;
  position: relative;
}

.feature-title{
  font-size: 1.5rem;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68
}

/* testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 4rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Selection */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin-bottom: 2%;
}

/* Pricing Selection */
#pricing {
  padding: 100px;
}

.price-text{
  font-size: 4rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  padding: 8% 20% 6%;
}

.cta-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.5;
  color: #fff;
  padding-bottom: 25px;
}

/* Footer */
#footer {
  background-color: #fff;
  padding: 8% 20% 8%;
}

.footer-socials {
  width: 40px;
  padding-bottom: 25px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    margin-right: 20%;
  }
}
